
body {
      background-color: #000;
      color: #fff;
      font-family: 'Times New Roman', Times, serif;
            
}
  #sidebar {
            width: 250px;
            height: 100%;
            background-color: #333;
            position: fixed;
            left: 0;
            top: 0;
            overflow-x: hidden;
            padding-top: 20px;
        }

        #sidebar a {
            padding: 10px 15px;
            text-decoration: none;
            font-size: 18px;
            color: #fff;
            display: block;
            transition: 0.3s;
        }

        #sidebar a:hover {
            background-color: #555;
        }

        #content {
            margin-left: 250px;
            padding: 20px;
        }


h1, h2 {
    background-color: #161a1d;
    color: #A020F0;
}
h3 {
    color: #ae2012;
}

        .toggle-btn {
            position: fixed;
            top: 20px;
            right: 20px;
            cursor: pointer;
            padding: 10px;
            background-color: #333;
            color: #fff;
            border: none;
            outline: none;
            border-radius: 5px;
        }
